.lista-personagens{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
}
.personagem{
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}
.personagem .name{
    font-family: 'SF Distant Galaxy', sans-serif;
    font-size: 30px;
}
.personagem .detail{
    display: flex;
}
.personagem .description{
    padding: 2rem;
    border: black 1px solid;
}
.personagem img{
    height: 160px;
}

@media screen and (max-width: 600px){
    .personagem .detail{flex-direction: column-reverse;}
}